ul{
    list-style: none;
    display: flex;
    gap:40px;
    font-size: 20px;
    justify-content: center;
    background-color: bisque;
    margin: 0;
    padding: 20px;
    margin-bottom: 40px;
}

.link{
    text-decoration: none;
    color:brown;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
}

.link:hover{
    background-color: brown;
    color: white;
}